<ion-header>
  <ion-navbar>
    <ion-title>Identity</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to DynaSent!</h2>
  <p *ngIf="hasId">
    Welcome to DynaSent! Now do something cool.
  </p>
  <div *ngIf="!hasId">
  <p>
    This is either a new device or you are completely new to DynaSent. Currently
    you need to be signed up by somebody else.
  </p>
    <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label floating>Input</ion-label>
        <ion-input type="text" formControlName="x"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <button ion-button (click)="addID()">Add ID</button>
  </div>
</ion-content>
